# Java/Spring Boot
backend/target/
backend/.env
backend/.classpath
backend/.project
backend/.settings/

# IDE/editor
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.swp
*.swo

# Env
.env
node_modules
